.projects h3
{
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
}
.active-work-card
{
    color: black;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
@media screen and (max-width: 425px)
{
    .active-work-card
    {
        display: block;
    }
}