body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
p{
  line-height: 24px;
}
section
{
  padding: 0 200px;
  align-items: center;
}

@media screen and (max-width: 1024px)
{
  section
  {
    padding: 0px 50px

  }
}
@media screen and (max-width: 425px)
{
  section
  {
    padding: 10px;
  }
}
